body {
	padding: 0;
	margin: 0;
}

#map {
	height: 600px;
	width: 100%;
	margin: auto;
}

th {
	text-align: left;
	vertical-align: top;
}
	
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info h2 {
	margin: 0 0 5px;
	color: #777;
}

.leaflet-container .leaflet-control-search {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 1);	
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	margin-left: 11px;
}

.leaflet-control-search .search-button:hover {
	background: url('../images/search-icon.png') no-repeat 2px 2px;
	background-color: #f4f4f4;
}